Django==1.6.5
Jinja2==2.7.3
MarkupSafe==0.23
PyMySQL==0.6.2
Pygments==1.6
South==1.0
Sphinx==1.2.2
amqp==1.4.5
anyjson==0.3.3
apache2==1.0
argparse==1.2.1
billiard==3.3.0.18
celery==3.1.12
coverage==3.7.1
django-admin-bootstrapped==1.6.5
django-cloak==0.1.3
django-perms==0.0.7
django-unfriendly==0.3
docutils==0.11
elasticmodels==0.0.8
elasticsearch==0.4.5
elasticutils==0.9.1
importlib==1.0.3
kombu==3.0.21
mock==1.0.1
model-mommy==1.2.1
pytz==2014.4
requests==2.3.0
six==1.3.0
urllib3==1.9
wsgiref==0.1.2
