{% extends "base.html" %}

{% block content %}
<h2 id="user-welcome">Welcome, {{ user.first_name|capfirst }}!</h2>
<br></br>
<div class="col-md-6">
	<h2>Info</h2>
	<table class="table table-condensed">
		<tr>
			<td><img src="http://upload.wikimedia.org/wikipedia/en/b/b1/Portrait_placeholder.png" alt="some image"></img></td>
			<td>{{ user.last_name|capfirst }}</td>
			<td>{{ user.first_name|capfirst }}</td>
		</tr>
		<tr>
			<td>Email: </td>
			<td>{{ user.email }}</td>
			<td></td>
		</tr>
		<tr>
			<td>Admin: </td>
			<td>{{ user.is_staff }}</td>
			<td></td>
		</tr>
	</table>
</div>
<div class="col-md-6">
	<h2>Games</h2>
	<a href="#">{% include "games/_game.html" %}</a>
</div>
{% endblock %}
