{% extends "base.html" %}
{% block content %}
<script src="{{ STATIC_URL }}js/resumable.js"></script>
<script>var CHUNK_SIZE = {{ chunk_size }};</script>
<script src="{{ STATIC_URL }}js/upload.js"></script>
<div class="col-md-6">
	<h3>Upload</h3>
	<div class="well">
		<input type="file" name="file" id="file" style="display:none" />

		<div id="dropbox" class="alert alert-default">
			<div class="text-center">Click here to choose a file</div>
		</div>
		<label class="checkbox"><input type="checkbox" id="agree" />I have obtained the necessary rights to upload this file</label>
		<button id="submit">Upload</button>

		<div class="progress" style="display:none">
			<div class="progress-bar" role="progressbar" style="width: 0%;" id="progress-bar"></div>
		</div>

		<form method="post" id="form">
			{% csrf_token %}
			<input id="error-message" type="hidden" name="error_message" />
		</form>
	</div>
</div>
{% endblock %}
