body {
	background-color: #4a5963;	
}

span {
	color: #FFFFFF;	
}

.well {
	color: #000000;
}

.col-md-6 {
	background-color: #00354c;
	color: #ffffff;
}

.col-md-5 {
	background-color: #00354c;
	color: #ffffff;
}

form {
	color: #000000;	
	width: 100%;
}

#dice-roll {
	position: relative;
	width: 100%;
}
