body {
	background-color: #4a5963;	
}

span {
	color: #FFFFFF;	
}

.well {
	color: #000000;
	margin: 10px;
}

.col-md-9 {
	background-color: #333;
	color: #ffffff;
}

.col-md-6 {
	background-color: #00354c;
	color: #ffffff;
}

.col-md-5 {
	background-color: #00354c;
	color: #ffffff;
}

.col-md-4 {
	background-color: #00354c;
	color: #ffffff;
}

.col-md-3 {
	background-color: #00354c;
	color: #ffffff;
}

.table-striped {
	color: #000000;
}

form {
	color: #000000;	
	width: 100%;
}

#dice-roll {
	position: relative;
	width: 100%;
}

#user-welcome {
	color: #ffffff;	
}

#dropbox {
	background-color: #66a3ff;
}

#right-corner-button {
	margin-top: -40px;
}
