{% extends 'base.html' %}
{% block content%}

<!--HOMEPAGE-->
<!--BODY-->
<div class="container">
	<div class="col-md-6" >
	<br></br>
		<form method="get">
			<div class="well">
				<p><h2>Need dice? Don't got dice?</h2></p>
				<p><h1>We got dice.</h1></p>
				<br></br>
				<table class="table table-condensed">
					<tr>
						<td>
							<p><h4>Roll</h4></p><p>{{ form.dice }}</p>
							<p><h4>D</h4></p><p>{{ form.sides }}</p>	
						</td>
						<td>
						<h3>You rolled: </h3>
						{% for roll in rolled %}
							<strong>{{ roll }}</strong>, 
						{% endfor %}

						{% if total %}
							<h3>Total: <strong>{{ total }}</strong> </h3>
						{% else %}
							<h3>Roll!</h3>
						{% endif %}
						</td>
					</tr>
					<tr>
						<td>
							<input type ="submit" id="dice-roll" class="btn btn-primary" name='roll' value="{{ button_text.button_text }}" />
						</td>
					</tr>
				</table>
			</div>
		</form>	
	</div>
	<div class="col-md-5">
		<h3><p>Featured Games</p></h3>
		<ul class="list-group">
		{% if game_list %}
			{% for game in game_list %}
				<a href="#"><li class="list-group-item">{{ game.name }}</li></a>
			{% endfor %}
		{% endif %}												
		</ul>
	</div>
</div>
{% endblock %}
